<div class="col-lg-8 col-md-8 trade-soft-column mt-4">
    <div class="section-heading">
        <h2 class="mb-3 color-orange">Talk to Our Sales &amp; Marketing Team</h2>
    </div>
    <form action="<?=HTTP_HOST;?>/contact" class="register-form" method="post" enctype="multipart/form-data"
        onsubmit="">
        <input type="hidden" id="operation" name="operation" value="insert">
        <div class="row">
            <div class="col-sm-6">
                <label for="visitor_fname" class="mb-1">First name <span class="text-danger">*</span></label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="visitor_fname" name="visitor_fname" required=""
                        placeholder="First Name" aria-label="First name">
                </div>
            </div>
            <div class="col-sm-6 ">
                <label for="visitor_lname" class="mb-1">Last name</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="visitor_lname" name="visitor_lname"
                        placeholder="Last Name" aria-label="Last Name">
                </div>
            </div>
            <div class="col-sm-6">
                <label for="visitor_mobile" class="mb-1">Mobile No <span class="text-danger">*</span></label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="visitor_mobile" name="visitor_mobile" required=""
                        placeholder="Mobile No" aria-label="Phone">
                </div>
            </div>
            <div class="col-sm-6">
                <label for="visitor_email" class="mb-1">Email<span class="text-danger">*</span></label>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" id="visitor_email" name="visitor_email" equired=""
                        placeholder="Email" aria-label="Email">
                </div>
            </div>
            <div class="col-12">
                <label for="visitor_msg" class="mb-1">Message <span class="text-danger">*</span></label>
                <div class="input-group mb-3">
                    <textarea class="form-control" id="visitor_msg" required="" name="visitor_msg"
                        placeholder="How can we help you?" style="height: 130px;"></textarea>
                </div>
            </div>
        </div>
        <?php
        if(Session::get( 'contact_status') == 'success'){
        ?>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Thank you for contacting us! One of our executive will call you shortly.</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <?php
        unset($_SESSION['contact_status']);
        } else if(Session::get( 'contact_status') == 'error'){
        ?>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Somthing is wrong! Please try later.</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <?php 
        unset($_SESSION['contact_status']);
        } 
        ?>
        <button type="submit" class="btn btn-primary mt-3" onclick="javascript:
        if(!navigator.onLine) {
            errorAlert('You are offline', 'Internet connection required to submit enquiry!');
            return false;
        }
        ">Get in Touch</button>
    </form>
</div>