
<div>
    <div class="display-flex-class padding-top-120px">
        <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('default_theme');?>/img/no_record.webp" alt="Record Not Found" width="14%">
    </div>
    <div class="display-flex-class">
        <h3 class="font-weight-600">
            <?php
            if($data['record_msg'] !=''){
                echo $data['record_msg'];
            }else{
                echo 'Record Not Found !';
            }
            ?>
        </h3>
        <span>
            
        </span>
    </div>
</div>