#contactbg{
    padding: 30px;
    background-color: #fff1ec;  
}
#imgbann{
width: 578px;
}
.resize-none{
    resize: none;
}
.banner-h6-color{
    color: #e2e8f0;
}
.banner-p-color{
    color:#d0f2fe;
}
.banner-h2-color{
    color:#0b163f;
}
