<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
            <div class="section-heading text-center">
                <h2 class="mt-3">Welcome Admin</h2>
            </div>
        </div>
    </div>

    <div id="main" class="main-container">
        <div class="row justify-content-center">


            <div class="col-lg-6 col-md-10">

                 <div class="section-heading text-center">
                    <section class="bg-dark-black pb-60 pt-2">
                        <div class="container">
                            <div class="accordion faq-accordion" id="accordionExample">
                            <div class="accordion-item border border-2">
                                <h5 class="accordion-header" id="faq-5">
                                    <button id="faq-accordionss" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="true">
                                        <h4 class="mt-3">Important Content's List</h4>
                                    </button>
                                </h5>

                                <div id="collapse-5" class="accordion-collapse collapse show" aria-labelledby="faq-5" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <?php
                                        if(sizeof($data['Content_Details']) > 0){
                                        ?>
                                        <div class="crm-pricing-table table-responsive bg-white mt-2">
                                                <div class="table-responsive">
                                                    <table class="table ">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Sr No</th>
                                                                <th scope="col">Content Name</th>
                                                                <th scope="col">Content Value</th>
                                                                <th scope="col">Content Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                     <?php  
                                                     $cnt = 1;
                                                      for($Contentcnt = 0;$Contentcnt < sizeof($data['Content_Details']);$Contentcnt++){ 
                                                        $content_id = $data['Content_Details'][$Contentcnt]['content_id'];
                                                        $content_name = $data['Content_Details'][$Contentcnt]['content_name'];
                                                        $content_value = $data['Content_Details'][$Contentcnt]['content_value'];
                                                        $content_status = $data['Content_Details'][$Contentcnt]['content_status'];
                                                        ?>
                                                            <tr>
                                                                <td>
                                                                    <p class="coin-price"><?php echo $cnt; ?></p>
                                                                </td>
                                                                <td>
                                                                    <div class="coin-price-change price-down"><?php echo $content_name; ?></div>
                                                                </td>
                                                                <td>
                                                                    <div class="coin-price-change price-down"><?php echo $content_value; ?></div>
                                                                </td>
                                                                <td>
                                                                    <div class="coin-price-change price-down">
                                                                        <?php 
                                                                            if($content_status == 'on'){
                                                                                echo 'ACTIVE';
                                                                            }else{
                                                                                echo 'INACTIVE';
                                                                            }
                                                                        ?>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                           
                                                        <?php  $cnt++; } ?>
                                                        </tbody>
                                                    </table>
                                                </div>
                                        </div>
                                        <?php 	}else { ?>
                                            <?=View::renderPath('page404/norecord/record');?>
                                        <?php } ?>
                                        </div>
                                        </div>
                                        
                                </div>
                                </div>
                        </div>
                    </section>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-10">
                <div class="text-center" id="firstdivprofile">
                    <h4 class="mt-3">Enter Important Content's</h4>

                    <form action="<?=HTTP_HOST;?>/admin/add_content" class="register-form" method="post">
                        <input type="hidden" id="operation" value="insert" name="operation">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 width50per ">
                                <label for="contentname" class="mb-1">Content Name<span
                                        class="text-danger">*</span></label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="content_name" name="content_name"
                                        placeholder="Enter Content Name  " aria-label="Content Name ">
                                </div>
                            </div>
                            <div class="col-sm-12 width50per justify-content-center">
                                <label for="contentname" class="mb-1">Content Status<span
                                        class="text-danger">*</span></label>
                                <div class="form-check form-switch ">
                                    <input class="form-check-input" type="checkbox" id="content_status" name="content_status" checked>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="contentvalue" class="mb-1">Content Value <span class="text-danger">*</span></label>
                                <div class="input-group mb-3">
                                    <textarea class="form-control resize-none" name="content_value"
                                        id="content_value" placeholder="Enter Content Value"
                                        style="height: 120px"></textarea>
                                </div>
                            </div>  

                        </div>  
                        <div>
                            <button type="submit" class="btn btn-primary mt-4">Submit</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
        <br>
        <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
        <div class="row justify-content-center">
            <div class="col-lg-12 col-12 mb-5" >
                <div class="accordion faq-accordion" id="accordionExamples">
  
                    <div class="accordion-item border border-2">
                        <h5 class="accordion-header" id="faq-6">
                            <button id="faq-accordionss" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="true">
                              Check Your Visitor List
                            </button>
                        </h5>
                        <?php
                        if(sizeof($data['Visitor_Details']) > 0){
                        ?>
                        <div id="collapse-6" class="accordion-collapse collapse show" aria-labelledby="faq-6" data-bs-parent="#accordionExamples">
                            <div class="accordion-body">
                                <div class="table-responsive">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th scope="col">Sr No</th>
                                                <th scope="col">Visitor Name</th>
                                                <th scope="col">Visitor Mobile</th>
                                                <th scope="col">Visitor Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <?php  
                                         $cnt = 1;
                                          for($VisitorCnt = 0;$VisitorCnt < sizeof($data['Visitor_Details']);$VisitorCnt++){ 
                                            $visitor_id = $data['Visitor_Details'][$VisitorCnt]['visitor_id'];
                                            $visitor_fname = $data['Visitor_Details'][$VisitorCnt]['visitor_fname'];
                                            $visitor_lname = $data['Visitor_Details'][$VisitorCnt]['visitor_lname'];
                                            $visitor_mobile = $data['Visitor_Details'][$VisitorCnt]['visitor_mobile'];
                                            $visitor_email = $data['Visitor_Details'][$VisitorCnt]['visitor_email'];
                                            ?>

                                            <tr>
                                               
                                                <td>
                                                    <p class="coin-price">1</p>
                                                </td>
                                                <td>
                                                    <div class="coin-price-change price-down"><?php echo $visitor_fname.' '.$visitor_lname;  ?></div>
                                                </td>
                                                <td>
                                                    <div class="coin-price-change price-down"><?php echo $visitor_mobile;  ?></div>
                                                </td>
                                                <td>
                                                    <div class="coin-price-change price-down"><?php echo $visitor_email;  ?></div>
                                                </td>
                                            </tr>
                                            <?php  $cnt++; } ?>
        
                                         
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <?php
                             }
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>