<!--header start-->



<header class="main-header position-absolute w-100">
    <nav class="navbar navbar-expand-xl navbar-dark sticky-header z-10 bg-gradient text-white p-0">
        <div class="container d-flex align-items-center justify-content-lg-between position-relative ">
            <a href="<?=HTTP_HOST;?>" class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none">
                <img src="<?=HTTP_HOST_WEBROOT?>/img/swapnilshahLogo.jpeg" alt="logo" class="img-fluid logo-white" id="MainLogo"/>
                <img src="<?=HTTP_HOST_WEBROOT?>/img/swapnilshahLogo.jpeg" alt="logo" class="img-fluid logo-color" id="MainLogo"/>
            </a>
            <a class="navbar-toggler position-absolute right-0 border-0" href="javascript:void(0);" onclick="goToByScroll('offcanvasWithBackdrop');">
                <span class="far fa-bars" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"
             data-bs-toggle="offcanvas" role="button"></span>
            </a>
            <div class="clearfix"></div>
          <a href="<?=HTTP_HOST;?>/admin/logout" >  <button type="button" class="btn btn-primary" >
                <i class="far fa-sign-out"></i> Logout
            </button>
        </a>

        </div>
    </nav>
    <!--offcanvas menu start-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop">
        <div class="offcanvas-header d-flex align-items-center mt-4">
            <a href="<?=HTTP_HOST;?>" class="d-flex align-items-center mb-md-0 text-decoration-none">
                <img src="<?=HTTP_HOST_WEBROOT?>/img/swapnilshahLogo.jpeg" alt="logo" class="img-fluid ps-2" id="MainLogo"/>
            </a>
            <button type="button" class="close-btn text-danger" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="far fa-close"></i>
            </button>
        </div>
    </div>
    <!--offcanvas menu end-->
</header>
<!--header end-->