<section class="work-process pb-60 " id="aboutus">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-heading text-center">
                    <span class="fw-bold mk-subtitle text-bg-warning p-3">About Us</span>
                    <h2 class="mt-3">Swapnil Shah & Associates</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 col-md-12 order-1 order-lg-0">
                <div class="img-wrap">
                    <img src="<?=HTTP_HOST_WEBROOT?>/img/shah_aboutus.webp" alt="work process"
                        class="img-fluid rounded-custom mb-3"><br>
                    <img src="<?=HTTP_HOST_WEBROOT?>/img/About_image_two.webp" alt="work process"
                        class="img-fluid rounded-custom">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-0 order-lg-1">
                <ul class="work-process-list list-unstyled">
                    <li class="d-flex align-items-start mb-4">
                        <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                            <i class="far fa-folder-tree fa-2x"></i>
                        </div>
                        <div class="icon-content">
                            <span class="text-primary h6">About Us</span>
                            <p>Welcome to GST Registration and Filing Company, your trusted partner for all your Goods
                                and Services Tax (GST) compliance needs. We are a team of dedicated professionals with
                                extensive knowledge and experience in the field of taxation and accounting. Our mission
                                is to simplify the complexities of GST registration and filing processes for businesses
                                of all sizes, enabling them to focus on their core operations while we handle their
                                GST-related requirements.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex align-items-start mb-4">
                        <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                            <i class="fa fa-bullseye" aria-hidden="true"></i>

                        </div>
                        <div class="icon-content">
                            <span class="text-primary h6">Mission</span>
                            <p>Our mission is to simplify GST compliance for businesses by providing expert guidance and
                                seamless services, enabling them to focus on their core operations and achieve financial
                                success. We aim to be the trusted partner that businesses rely on for all their GST
                                registration and filing needs, ensuring accuracy, timeliness, and compliance with the
                                ever-changing GST regulations.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex align-items-start mb-4">
                        <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                        <div class="icon-content">
                            <span class="text-primary h6">Vision</span>
                            <p>Our vision is to become the leading provider of GST registration and filing services,
                                known for our expertise, reliability, and commitment to client satisfaction. We strive
                                to set the industry standard for excellence in GST compliance by continuously innovating
                                our processes, leveraging technology, and staying updated with the latest developments
                                in tax laws. We envision a business landscape where businesses can navigate the
                                complexities of GST effortlessly, with our support and guidance.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center pt-50">
            <div class="col-lg-6 col-md-10">
                <div class="section-heading text-center">
                    <span class="fw-bold mk-subtitle text-bg-warning p-3">Our Leaders</span>
                    <!-- <h2 class="mt-3">Swapnil Shah & Associates</h2> -->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 col-md-12 ">
                <div class="dirc-wrapper ">
                        <img id="dircimg" src="<?=HTTP_HOST_WEBROOT?>/img/Swapnil_Shah.jpg">
                        <h2 class="dirc_title">Swapnil Shah</h2>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 ">
            <p>    <div class="dirc-wrapper ">
                        <img id="dircimgs" src="<?=HTTP_HOST_WEBROOT?>/img/AwardTwo.webp">  
                        <img id="dircimgs" src="<?=HTTP_HOST_WEBROOT?>/img/AwardOne.webp">
                        <img id="dircimgs" src="<?=HTTP_HOST_WEBROOT?>/img/AwardOne.webp"> 
                        <img id="dircimgs" src="<?=HTTP_HOST_WEBROOT?>/img/AwardTwo.webp">
                </div>
            </p>
            </div>
            <div class="col-lg-8 offset-lg-2 col-md-12">
                <ul class="work-process-list list-unstyled">
                    <li class="d-flex align-items-start mb-4">
                        <!-- <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                            <i class="far fa-folder-tree fa-2x"></i>
                        </div> -->
                        <div class="icon-content">
                            <!-- <span class="text-primary h6">About Us</span> -->
                            <ul>
                                <li>Swapnil Shah is a founder of Swapnil Shah and Associates, an ISO 9001:2015 certified firm working in the taxation area like VAT, Service Tax, GST and Income Tax having an experience for 17 Years.</li>
                                <li>Swapnil has completed his B.com, GDC& A and now perusing LLB.  </li>
                                <li>Swapnil had also written a paper in Tax Tribune of MTPA on the subject of Income Tax Portal 2.0</li>
                                <li>Swapnil also delivered seminar as a faculty on GST in various colleges like Tuljaram Chaturchand College, Baramati, Lal Bahadur Shastri College, Satara, Annasaheb Magar College, Pune & Certificate course in Taxation Law organised by Maharashtra Tax Practitioner Association. </li>
                                <li>Swapnil is a managing committee member of MTPA form 2017-18 and holding the position of Secretory for the year 2020-2021. And Chairman of Certificate Course committee for the year 2021-22.</li>
                                <li>Recently published books “GST on Service Sector” on the precious hand of Dr Bhagwat Karad, Minister of State Finance, Union of India.  </li>
                            </ul>
                            <p>
                                
                                
                              
                              
                                
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>


    </div>
    </div>
</section>