<section class="work-process pb-60 " id="aboutus">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-heading text-center">
                    <span class="fw-bold mk-subtitle text-bg-warning p-3">About Us</span>
                    <h2 class="mt-3">Swapnil Shah & Associates</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 col-md-12 order-1 order-lg-0">
                <div class="img-wrap">
                    <img src="<?=HTTP_HOST_WEBROOT?>/img/shah_aboutus.webp" alt="work process"
                        class="img-fluid rounded-custom mb-3"><br>
                    <img src="<?=HTTP_HOST_WEBROOT?>/img/About_image_two.webp" alt="work process"
                        class="img-fluid rounded-custom">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-0 order-lg-1">
                <ul class="work-process-list list-unstyled">
                    <li class="d-flex align-items-start mb-4">
                        <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                            <i class="far fa-folder-tree fa-2x"></i>
                        </div>
                        <div class="icon-content">
                            <span class="text-primary h6">About Us</span>
                            <p>Welcome to GST Registration and Filing Company, your trusted partner for all your Goods
                                and Services Tax (GST) compliance needs. We are a team of dedicated professionals with
                                extensive knowledge and experience in the field of taxation and accounting. Our mission
                                is to simplify the complexities of GST registration and filing processes for businesses
                                of all sizes, enabling them to focus on their core operations while we handle their
                                GST-related requirements.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex align-items-start mb-4">
                        <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                            <i class="fa fa-bullseye" aria-hidden="true"></i>

                        </div>
                        <div class="icon-content">
                            <span class="text-primary h6">Mission</span>
                            <p>Our mission is to simplify GST compliance for businesses by providing expert guidance and
                                seamless services, enabling them to focus on their core operations and achieve financial
                                success. We aim to be the trusted partner that businesses rely on for all their GST
                                registration and filing needs, ensuring accuracy, timeliness, and compliance with the
                                ever-changing GST regulations.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex align-items-start mb-4">
                        <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                        <div class="icon-content">
                            <span class="text-primary h6">Vision</span>
                            <p>Our vision is to become the leading provider of GST registration and filing services,
                                known for our expertise, reliability, and commitment to client satisfaction. We strive
                                to set the industry standard for excellence in GST compliance by continuously innovating
                                our processes, leveraging technology, and staying updated with the latest developments
                                in tax laws. We envision a business landscape where businesses can navigate the
                                complexities of GST effortlessly, with our support and guidance.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center pt-50">
            <div class="col-lg-6 col-md-10">
                <div class="section-heading text-center">
                    <span class="fw-bold mk-subtitle text-bg-warning p-3">Our Leaders</span>
                    <!-- <h2 class="mt-3">Swapnil Shah & Associates</h2> -->
                </div>
            </div>
        </div>


        <div class="row align-items-center justify-content-between">
            <div class="col-lg-8 col-md-12 ">
                <ul class="work-process-list list-unstyled">
                    <li class="d-flex align-items-start mb-4">
                        <div class="icon-content">
                            <span class="text-primary h6" id="font25">Mr. Swapnil Shah</span>
                            <p class="text-center">                 
                                Welcome to Swapnil Shah and Associates, an ISO 9001:2015 certified firm specializing in the field of taxation. 
                                With over 17 years of experience, we have established ourselves as a trusted authority in VAT, Service Tax, GST, 
                                and Income Tax matters. Led by our founder, Swapnil Shah, our team is dedicated to providing comprehensive and reliable solutions to meet our clients' diverse taxation needs.
                               Swapnil Shah, a visionary entrepreneur, has a strong educational background and a deep understanding of taxation laws. He holds a B.Com degree and has successfully completed GDC&A (Government Diploma in Cooperation and Accountancy)
                                while currently pursuing LLB (Bachelor of Laws). Swapnil's expertise and passion for taxation have allowed him to make significant contributions to the field.
                                Recognized for his knowledge and insights, Swapnil Shah has made notable contributions to the taxation community. He authored a paper on the subject of Income Tax Portal 2.0, which was published in the prestigious Tax Tribune of MTPA (Maharashtra Tax Practitioner Association). This demonstrates Swapnil's commitment to staying at the forefront of emerging trends and technological advancements in the tax industry.
                                In addition to his scholarly pursuits, Swapnil has actively shared his expertise by delivering seminars as a faculty member on GST (Goods and Services Tax) in renowned colleges such as Tuljaram Chaturchand College, Baramati, Lal Bahadur Shastri College, Satara, Annasaheb Magar College, Pune, and at the Certificate Course in Taxation Law organized by the Maharashtra Tax Practitioner Association. His engaging teaching style and ability to simplify complex concepts have earned him admiration from students and professionals alike.                           
                            </p>
                       
                            </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12  ">
                <div class="text-center">
                        <img id="dircimg" src="<?=HTTP_HOST_WEBROOT?>/img/Swapnil_Shah.jpg"  ><br>
                        <span class="text-primary h6 ">Mr. Swapnil Shah</span>
                </div>
                <div class="col-lg-12 col-md-12 ">
                    <p>    <div class="dirc-wrapper ">
                                <img id="dircimgs" src="<?=HTTP_HOST_WEBROOT?>/img/AwardTwo.webp">  
                                <img id="dircimgs" src="<?=HTTP_HOST_WEBROOT?>/img/AwardOne.webp">
                                <img id="dircimgs" src="<?=HTTP_HOST_WEBROOT?>/img/AwardOne.webp"> 
                                <img id="dircimgs" src="<?=HTTP_HOST_WEBROOT?>/img/AwardTwo.webp">
                        </div>
                    </p>
                    </div>
            </div>
            <p class="text-center">  
            Swapnil Shah's dedication to the taxation community extends beyond his role as a practitioner and educator. He has served as a managing committee member of MTPA since 2017-18, holding the esteemed position of Secretary for the year 2020-2021. Furthermore, Swapnil has been entrusted with the responsibility of leading the Certificate Course committee as its Chairman for the year 2021-22. These leadership roles exemplify his commitment to advancing the field of taxation and nurturing the growth of aspiring professionals.
            As a testament to his expertise, Swapnil Shah recently published the book "GST on Service Sector." The book was launched by Dr. Bhagwat Karad, Minister of State Finance, Union of India, emphasizing the value and credibility of Swapnil's work. This publication serves as a valuable resource for individuals and businesses seeking clarity and guidance on navigating the complex realm of GST within the service sector.
            At Swapnil Shah and Associates, we take pride in our commitment to excellence, professionalism, and client satisfaction. Our team of experienced professionals, led by Swapnil Shah, is dedicated to providing comprehensive taxation services tailored to your specific needs. Whether you require assistance with VAT, Service Tax, GST, or Income Tax matters, you can trust us to deliver accurate, reliable, and efficient solutions that meet the highest standards of quality.
            Contact Swapnil Shah and Associates today to experience the difference our expertise can make in your taxation journey.
        </p>
        </div>

























   

    </div>
    </div>
</section>