<!--hero section start-->
<section id="home" class="hero-section ptb-80 text-white " style="background: url('<?=HTTP_HOST_WEBROOT?>/img/bannerMain.jpg')no-repeat center right;background-size: cover;height: 600px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-10" id="bannfirstDiv">
                <!-- <img src="<?=HTTP_HOST_WEBROOT?>/img/bannerimageGsttax.jpg" alt="hero img" class="img-fluid position-relative z-5" id="imgbann"> -->
                <div class="hero-content-wrap mt-5">
                    <h3 class="fw-bold display-6 text-warning ">Swapnil Shah & Associates</h3>
                    <h6 class="banner-h6-color">Tax & Financial Advisor</h6>
                    <p class="lead banner-p-color" >"Maximizing your wealth, minimizing your worries - Your trusted Tax & Financial Advisor."</p>
                 </div>
            </div>
            <div class="col-lg-6 col-md-8 mt-5">
                <div class="hero-img position-relative circle-shape-images">
                    <ul class="position-absolute animate-element parallax-element circle-shape-list">
                        <li class="layer" data-depth="0.02">
                            <img src="<?=HTTP_HOST_WEBROOT?>/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-1 hero-1">
                        </li>
                        <li class="layer" data-depth="0.04">
                            <img src="<?=HTTP_HOST_WEBROOT?>/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-2 hero-1">
                        </li>
                        <li class="layer" data-depth="0.04">
                            <img src="<?=HTTP_HOST_WEBROOT?>/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-3 hero-1">
                        </li>
                        <li class="layer" data-depth="0.03">
                            <img src="<?=HTTP_HOST_WEBROOT?>/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-4 hero-1">
                        </li>
                        <li class="layer" data-depth="0.03">
                            <img src="<?=HTTP_HOST_WEBROOT?>/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-5 hero-1">
                        </li>
                    </ul>
                    <!-- <img src="<?=HTTP_HOST_WEBROOT?>/img/pngTaxesDone.png" alt="hero img" class="img-fluid position-relative z-5" id="imgbann"> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--hero section end-->