<!--hero section start-->
<section id="home" class="hero-section ptb-80 text-white "
    style="background: url('<?=HTTP_HOST_WEBROOT?>/img/bannerMain.jpg')no-repeat center right;background-size: cover;height: 600px;">
    <div class="container">
        <div class="row align-items-center">
            <!-- ///////////////////// -->
            <!-- This was all taken from https://tympanus.net/Development/ButtonStylesInspiration/ but I needed to see it in CodePen -->
            <!-- ///////////////// -->
            <div class="col-lg-6 col-md-10" id="bannfirstDiv">
                <!-- <img src="<?=HTTP_HOST_WEBROOT?>/img/bannerimageGsttax.jpg" alt="hero img" class="img-fluid position-relative z-5" id="imgbann"> -->
                <div class="hero-content-wrap mt-5">
                    <center>
                    <h3 class="fw-bold display-6 banner-color ">Swapnil Shah & Associates</h3>
                    <h6 class="banner-h6-color">Tax & Financial Advisor</h6>
                    <br>                    
                        <p class="lead banner-p-color text-center" style="font-style: italic;">"We are specialist in crafting all type of financial solutions!"</p>
                        <!-- /container -->
                        <div class="container">
                            <section class="content">
                                <div class="box bg-1">
                                    <button onclick="goToByScroll('contact',this);"
                                        class="button buttons buttons--rayen buttons--border-thin buttons--text-thick buttons--text-upper buttons--size-s"
                                        data-text="Get In Touch"><span>Get In Touch</span></button>
                                </div>
                            </section>
                        </div>
                        <!-- /container -->
                    </center>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mt-5">
            </div>
        </div>
    </div>
</section>
<!--hero section end-->