<section class="contact-us-form py-5 pb-40 pt-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-8">
                <div class="mk-title text-center">
                    <span class="fw-bold mk-subtitle">Contact Us</span>
                    <h2 class="mt-3">Get in touch with us!</h2>
                    <p>To know our services better, contact us below & we shall get back to you.</p>
                   
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-between align-items-center">
            <div class="col-lg-6 col-md-8" id="contactbg" >
                <form action="<?=HTTP_HOST;?>/demo/demo_submit" class="register-form" method="post" onsubmit="return validationForContact(); "> 
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="firstName" class="mb-1">First name <span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="visitor_fname" name="visitor_fname" 
                                    placeholder="First name" aria-label="First name" onblur="validationForDemoFname(); return false;">
                            </div>
                            <p class="text-left" style="color: red;margin-top: -10px;font-size: 13px;" id="jobtype"></p>
                        </div>
                        <div class="col-sm-6 ">
                            <label for="lastName" class="mb-1">Last name</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="visitor_lname" name="visitor_lname"
                                    placeholder="Last name" aria-label="Last name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="phone" class="mb-1">Phone <span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="visitor_mobile" name="visitor_mobile"
                                     placeholder="Phone" aria-label="Phone" onblur="validationForDemoMobile(); return false;" >
                            </div>
                            <p class="text-left" style="color: red;margin-top: -10px;font-size: 13px;"  id="validateMobile"></p>
                        </div>
                        <div class="col-sm-6">
                            <label for="email" class="mb-1">Email<span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="visitor_email" name="visitor_email"
                                     placeholder="Email Id" aria-label="work-Email" onblur="validationForDemoEmail(); return false;">
                            </div>
                            <p class="text-left" style="color: red;margin-top: -10px;font-size: 13px;" id="validatEmail"></p>
                        </div>
                        <div class="col-12">
                            <label for="yourMessage" class="mb-1">Message <span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <textarea class="form-control" name="visitor_other_info" id="visitor_other_info"
                                     placeholder=" How can we help you? " style="height: 120px" onblur="validationForDemoMassage(); return false;"></textarea>
                                <input type="hidden" id="visitor_type" name="visitor_type" value="contact_visitor" />
                            </div>
                            <p class="text-left" style="color: red;margin-top: -10px;font-size: 13px;" id="visitorotherinfo"></p>
                        </div>
                    </div>
                    <?php if($msgDisplayStatus == 'YES'){ ?>
                    <input type="text" id="noneType" class="opacity-0 text-opacity-0-height" />
                    <div id="msgDiv" class="alert alert-success alert-dismissible">
                        <a class="close" data-dismiss="alert" aria-label="close" onclick="showSubmitDiv();">&times;</a>
                        We appreciate you for contacting us. One of our colleagues will
                        get back to you shortly.
                    </div>
                    <div id="submitDiv" class="display-none">
                        <button type="submit" class="btn btn-primary mt-4">Get in Touch</button>
                    </div>
                    <?php } else { ?>
                    <div>
                        <button type="submit" class="btn btn-primary mt-4">Get in Touch</button>
                    </div>
                    <?php } ?>
                </form>
            </div>
            <div class="col-lg-5 col-md-10">
                <div class="contact-us-img">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.285676600354!2d73.91009501457816!3d18.56115507277682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c1a9f98f0a03%3A0x644bbe451d3aca35!2sStackbuz%20Technologies!5e0!3m2!1sen!2sin!4v1675245182960!5m2!1sen!2sin" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>