<!--header start-->
<header class="main-header position-absolute w-100">
    <nav class="navbar navbar-expand-xl navbar-dark sticky-header z-10">
        <div class="container d-flex align-items-center justify-content-lg-between position-relative">
            <a href="<?=HTTP_HOST;?>" class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none">
                <img src="<?=HTTP_HOST_WEBROOT?>/img/logo-white.png" alt="logo" class="img-fluid logo-white" />
                <img src="<?=HTTP_HOST_WEBROOT?>/img/logo-color.png" alt="logo" class="img-fluid logo-color" />
            </a>
            <a class="navbar-toggler position-absolute right-0 border-0" href="javascript:void(0);" onclick="goToByScroll('offcanvasWithBackdrop');">
                <span class="far fa-bars" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"
             data-bs-toggle="offcanvas" role="button"></span>
            </a>
            <div class="clearfix"></div>
            <div class="collapse navbar-collapse justify-content-start">
                <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                    <li><a href="javascript:void(0);" class="nav-link mylink" onclick="goToByScroll('home',this);">Home</a></li>
                    <li><a href="javascript:void(0);" class="nav-link mylink" onclick="goToByScroll('whyus',this);">Why Us</a></li>
                    <li><a href="javascript:void(0);" class="nav-link mylink" onclick="goToByScroll('services',this);">Services</a></li>
                    <li><a href="javascript:void(0);" class="nav-link mylink" onclick="goToByScroll('aboutus',this);">About Us</a></li>
                    <li><a href="javascript:void(0);" onclick="goToByScroll('contact',this);" class="nav-link mylink">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--offcanvas menu start-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop">
        <div class="offcanvas-header d-flex align-items-center mt-4">
            <a href="<?=HTTP_HOST;?>" class="d-flex align-items-center mb-md-0 text-decoration-none">
                <img src="<?=HTTP_HOST_WEBROOT?>/img/logo-color.png" alt="logo" class="img-fluid ps-2" />
            </a>
            <button type="button" class="close-btn text-danger" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="far fa-close"></i>
            </button>
        </div>
        <div class="offcanvas-body z-10">
            <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                <li><a href="javascript:void(0);" class="nav-link" onclick="goToByScroll('home');" data-bs-dismiss="offcanvas">Home</a></li>
                <li><a href="javascript:void(0);" class="nav-link" onclick="goToByScroll('whyus');"  data-bs-dismiss="offcanvas">Why Us</a></li>
                <li><a href="javascript:void(0);" class="nav-link" onclick="goToByScroll('services');" data-bs-dismiss="offcanvas">Services</a></li>
                <li><a href="javascript:void(0);" class="nav-link" onclick="goToByScroll('aboutus');" data-bs-dismiss="offcanvas">About Us</a></li>
                <li><a href="javascript:void(0);" onclick="goToByScroll('contact');" class="nav-link">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <!--offcanvas menu end-->
</header>
<!--header end-->