<head>
        <!--required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--facebook og-->
        <meta property="og:url" content="#">
        <meta property="og:description" content="Swapnil Shah And Financial Is India's Best And Tax And Financial Advisor 
        With The Aim Of Providing Efficient Investment Ideas And All Unbiased Transaction And All Types Advisory Services To All Types Of Investors.">
        <meta property="og:image" content="#">
        <meta property="og:image:secure_url" content="#">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="600">
    
        <!--meta-->
        <meta name="description" content="Swapnil Shah And Financial Is India's Best And Tax And Financial Advisor 
        With The Aim Of Providing Efficient Investment Ideas And All Unbiased Transaction And All Types Advisory Services To All Types Of Investors.">
        <meta name="author" content="Swapnil Shah And Financial | Tax And Financial Advisor">
        <meta name="keywords" content="Tax Advisor, Financial Advisor, Swapnil Shah And Financial,
        Taxation, Financial & Investment , Income Tax, GST, Professional Tax,  Accounting, Loans & Investment, " />

        <link rel="canonical" href="https://swapnilshahasso.com/" />
        <!--favicon icon-->
        <link rel="icon" href="<?=HTTP_HOST_WEBROOT?>/img/swpnilshahlogo.webp" type="image/png" sizes="16x16">
    
        <!--title-->
        <title>Swapnil Shah & Associates | Tax And Financial Advisor</title>
    
        <!--build:css-->
        <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/css/main.css">
        <!-- endbuild -->
    
        <!--custom css start-->
        <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/css/custom.css">
        <!--custom css end-->

        <!--style css start-->
        <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/css/style.css">
        <!--style css end-->
</head>