<!--header start-->
<header class="main-header position-absolute w-100">
    <nav class="navbar navbar-expand-xl navbar-dark sticky-header z-10 bg-gradient text-white p-0">
        <div class="container d-flex align-items-center justify-content-lg-between position-relative ">
            <a href="<?=HTTP_HOST;?>" class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none">
                <img src="<?=HTTP_HOST_WEBROOT?>/img/swapnilshahLogo.jpeg" alt="logo" class="img-fluid logo-white" id="MainLogo"/>
                <img src="<?=HTTP_HOST_WEBROOT?>/img/swapnilshahLogo.jpeg" alt="logo" class="img-fluid logo-color" id="MainLogo"/>
            </a>
            <a class="navbar-toggler position-absolute right-0 border-0" href="javascript:void(0);" onclick="goToByScroll('offcanvasWithBackdrop');">
                <span class="far fa-bars" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"
             data-bs-toggle="offcanvas" role="button"></span>
            </a>
            <div class="clearfix"></div>
            <div class="collapse navbar-collapse justify-content-start navigation ">
                <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                    <li><a href="<?=HTTP_HOST;?>/home" class="nav-link mylink" id="home">Home</a></li>
                    <li><a href="<?=HTTP_HOST;?>/whyus" class="nav-link mylink" id="whyus">Why Us</a></li>
                    <li><a href="<?=HTTP_HOST;?>/service" class="nav-link mylink" id="service">Services</a></li>
                    <li><a href="<?=HTTP_HOST;?>/aboutus"  class="nav-link mylink" id="aboutus" >About Us</a></li>
                    <li><a href="<?=HTTP_HOST;?>/contactus"  class="nav-link mylink" id="contactus" >Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--offcanvas menu start-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop">
        <div class="offcanvas-header d-flex align-items-center mt-4">
            <a href="<?=HTTP_HOST;?>" class="d-flex align-items-center mb-md-0 text-decoration-none">
                <img src="<?=HTTP_HOST_WEBROOT?>/img/swapnilshahLogo.jpeg" alt="logo" class="img-fluid ps-2" id="MainLogo"/>
            </a>
            <button type="button" class="close-btn text-danger" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="far fa-close"></i>
            </button>
        </div>
        <div class="offcanvas-body z-10">
            <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                <li><a href="<?=HTTP_HOST;?>/home"class="nav-link" >Home</a></li>
                <li><a href="<?=HTTP_HOST;?>/whyus" class="nav-link" >Why Us</a></li>
                <li><a href="<?=HTTP_HOST;?>/service" class="nav-link" >Services</a></li>
                <li><a href="<?=HTTP_HOST;?>/aboutus" class="nav-link" >About Us</a></li>
                <li><a href="<?=HTTP_HOST;?>/contactus" >Contact Us</a></li>
            </ul>
        </div>
    </div>
    <!--offcanvas menu end-->
</header>
<!--header end-->