<!DOCTYPE html>
<html lang="en">
<?=View::renderPath('dashboard/head');?>

<body class="account-page" onkeydown="shortCutKeyFun('<?=HTTP_HOST;?>',event);">
    <?=View::renderPath('dashboard/preloader');?>
    <div id="mainMiddleDiv">
        <!-- Main Wrapper -->
        <div class="main-wrapper">
            <div class="account-content">
                <div class="login-wrapper">
                    <div class="login-website background-theme container">
                        <?=View::renderPath('home/navigation');?>
                        <div>
                            <?=View::renderPath('home/banner');?>
                        </div>
                        <?=View::renderPath('home/footer');?>
                    </div>
                    <div class="login-content py-2" id="mainloginMiddleDiv">
                        <?php
                        if(Session::get( 'page_name') != ''){
                            $page_name = Session::get( 'page_name');
                            unset($_SESSION['page_name']);
                        View::renderPath('login/'.$page_name);
                        } else {
                        View::renderPath('login/signin/signin');
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?=View::renderPath('dashboard/javascript');?>
</body>

</html>