<nav class="navbar navbar-expand-lg bg-body-tertiary py-2 sticky-top background-theme">
    <div class="container">
        <a class="navbar-brand" href="<?=HTTP_HOST;?>">
            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('default_theme');?>/img/logo-white.png" alt="TradeSoft" width="128px">
          </a>      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="navigationDivTogler">
          <div class="border-white"></div>
          <div class="border-white"></div>
          <div class="border-white"></div>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white active font-size-18px" aria-current="page" href="<?=HTTP_HOST;?>">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white font-size-18px" href="<?=HTTP_HOST;?>/features">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white font-size-18px" href="<?=HTTP_HOST;?>/pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white font-size-18px" href="<?=HTTP_HOST;?>/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white font-size-18px" href="<?=HTTP_HOST;?>/faq">FAQs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  