<section class="services-section pb-60" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-heading text-center">
                    <span class="fw-bold mk-subtitle text-bg-warning p-3">Services</span>
                    <h2 class="mt-3">Best Services for Your Business</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="position-relative w-100">
                    <div class="feature-grid-home position-relative">
                        <div class="feature-card-home px-2 my-3 text-center shadowBox position-relative">
                            <div class="mb-32">
                                <img src="<?=HTTP_HOST_WEBROOT?>/img/servicesIcons/accounting.webp" alt="accounting" width="65px">
                            </div>
                            <div class="feature-content position-relative">
                                <h3 class="h5">Accounting</h3>
                            </div>
                            <h6 class="mt-4" ><a class="readmore" href="<?=HTTP_HOST;?>/service">Read More ...</a></h6>
                            <br>
                        </div>
                        <div class="feature-card-home px-2 my-3 text-center shadowBox position-relative">
                            <div class="mb-32">
                                <img src="<?=HTTP_HOST_WEBROOT?>/img/servicesIcons/tax.webp" alt="tax" width="65px">
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Goods and Services Tax (GST)</h3>
                            </div>
                            <h6 class="mt-4" ><a class="readmore" href="<?=HTTP_HOST;?>/service">Read More ...</a></h6>
                            <br>
                        </div>
                        <div class="feature-card-home px-2 my-3 text-center shadowBox position-relative">
                            <div class="mb-32">
                                <img src="<?=HTTP_HOST_WEBROOT?>/img/servicesIcons/ITR.webp" alt="ITR" width="65px">
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">ITR (Income Tax Return)</h3>
                            </div>
                            <h6 class="mt-4" ><a class="readmore" href="<?=HTTP_HOST;?>/service">Read More ...</a></h6>
                            <br>
                        </div>
                        <div class="feature-card-home px-2 my-3 text-center shadowBox position-relative">
                            <div class="mb-32">
                                <img src="<?=HTTP_HOST_WEBROOT?>/img/servicesIcons/consulting.webp" alt="consulting" width="65px">
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Consultation</h3>
                                 <h6 class="mt-4" ><a class="readmore" href="<?=HTTP_HOST;?>/service">Read More ...</a></h6>
                                 <br>
                            </div>
                        </div>
                        <div class="feature-card-home px-2 my-3 text-center shadowBox position-relative">
                            <div class="mb-32">
                                <img src="<?=HTTP_HOST_WEBROOT?>/img/servicesIcons/TDS.webp" alt="TDS" width="65px">
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">TDS (Tax Deducted at Source)</h3>
                            </div>
                            <h6 class="mt-4" ><a class="readmore" href="<?=HTTP_HOST;?>/service">Read More ...</a></h6>
                            <br>
                        </div>
                        <div class="feature-card-home px-2 my-3 text-center shadowBox position-relative">
                            <div class="mb-32">
                                <img src="<?=HTTP_HOST_WEBROOT?>/img/servicesIcons/accounting.webp" alt="accounting" width="65px">
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Project Report</h3>
                            </div>
                            <h6 class="mt-4" ><a class="readmore" href="<?=HTTP_HOST;?>/service">Read More ...</a></h6>
                            <br>
                        </div>
                     
                        <div class="feature-card-home px-2 my-3 text-center shadowBox position-relative">
                            <div class="mb-32">
                                <img src="<?=HTTP_HOST_WEBROOT?>/img/servicesIcons/certification.webp" alt="certification" width="65px">
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Certificate Issuing</h3>
                            </div>
                            <h6 class="mt-4" ><a class="readmore" href="<?=HTTP_HOST;?>/service">Read More ...</a></h6>
                            <br>
                        </div>
                        <div class="feature-card-home px-2 my-3 text-center shadowBox position-relative">
                            <div class="mb-32">
                                <img src="<?=HTTP_HOST_WEBROOT?>/img/servicesIcons/udyog addhar.webp" alt="udyog addhar" width="65px">
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Udyog Aadhar</h3>
                            </div>
                            <h6 class="mt-4" ><a class="readmore" href="<?=HTTP_HOST;?>/service">Read More ...</a></h6>
                            <br>
                        </div>
                        <div class="feature-card-home px-2 my-3 text-center shadowBox position-relative">
                            <div class="mb-32">
                                <img src="<?=HTTP_HOST_WEBROOT?>/img/servicesIcons/audit.webp" alt="audit" width="65px">
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Tax Audit</h3>
                            </div>
                            <h6 class="mt-4" ><a class="readmore" href="<?=HTTP_HOST;?>/service">Read More ...</a></h6>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>