<section class="services-section ptb-120" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-heading text-center">
                    <span class="fw-bold mk-subtitle">Services</span>
                    <h2 class="mt-3">Best Services for Your Business</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="position-relative w-100">
                    <div class="feature-grid position-relative">
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-danger mb-32">
                                <i class="fal fa-file-chart-line fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Accounting</h3>
                                <p class="mb-0">Accounting is the processor keeping the accounting books of the financial transactions of the company.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Financial Analysis</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Financial Accounting </li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Budgeting </li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Other Accounting Features</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-primary mb-32">
                                <i class="fal fa-share-alt fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Goods and Services Tax (GST)</h3>
                                <p>GST is a digitalized form of VAT where you can also track the goods & services.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>GST Migrations and Registrations</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Advisory on various issues of GST </li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>GST Implementation </li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>All GST Releated Services </li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-dark mb-32">
                                <i class="fal fa-sync-alt fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">ITR (Income Tax Return)</h3>
                                <p class="mb-0">It contains information about the person's income and the taxes to be paid on it during the year.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Effective Tax Management</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Tax Planning & Advisory</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Other TAX related Service</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-success mb-32">
                                <i class="fal fa-spell-check fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Consultation</h3>
                                <p class="mb-0">Providing expert guidance on tax planning, tax-saving investments, and Income Tax Return Filing and many more.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Income Tax </li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Finance & Finance Restructuring</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Accounts</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>GST & Other Advice</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-primary mb-32">
                                <i class="fal fa-chart-pie fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">TDS (Tax Deducted at Source)</h3>
                                <p class="mb-0">TDS is a procedure implemented by the Indian government to collect taxes at the source of income.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Advice on TDS/TCS provisions.</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>TDS assessment.</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Filing of Correction Statements.</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Other TDS Related Services.</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-warning mb-32">
                                <i class="fal fa-filter fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Project Report</h3>
                                <p class="mb-0">Synergistically pursue accurate initiatives without economically sound
                                    imperatives. Professionally architect unique.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>CR Optimization</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Website Testing</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Content Analytics</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-warning mb-32">
                                <i class="fal fa-filter fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Tentative Balance Sheet</h3>
                                <p class="mb-0">A tentative balance sheet is a financial statement that provides an estimate of an organization's assets, liabilities, and equity at a specific point in time</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Balance Sheet Maintainance</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Other Services</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-warning mb-32">
                                <i class="fal fa-filter fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Account Finalization</h3>
                                <p class="mb-0">Account finalization is the process of completing and preparing the financial statements of a company at the end of financial year.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Profit and Loss Account</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Balance Sheet</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-warning mb-32">
                                <i class="fal fa-filter fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Certificate Issuing</h3>
                                <p class="mb-0">The acts of a certification authority in creating a certificate and notifying the subscriber listed in the certificate of the contents of the certificate.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>SEBI laws</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Income tax</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Import export policy & FEMA</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>RBI</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-warning mb-32">
                                <i class="fal fa-filter fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Udyog Aadhar</h3>
                                <p class="mb-0">Udyog Aadhar is a twelve digit Unique Identification Number issued by the Ministry of Micro, Small and Medium Enterprises from government of india.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Guidance and Form Filling</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-warning mb-32">
                                <i class="fal fa-filter fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Tax Audit</h3>
                                <p class="mb-0"> tax audit is an examination or review of accounts of any business or profession carried out by taxpayers from an income tax viewpoint.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Form Filling</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Tax Advice.</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>