<section class="services-section ptb-120" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-heading text-center">
                    <span class="fw-bold mk-subtitle">Services</span>
                    <h2 class="mt-3">Best Services for Your Business</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="position-relative w-100">
                    <div class="feature-grid position-relative">
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-primary mb-32">
                                <i class="fal fa-share-alt fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Social Media Marketing</h3>
                                <p>Synergistically pursue accurate initiatives without economically architect unique process improvements via optimal.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>PPC/SEM</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>High-converting</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Google Advertising</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-danger mb-32">
                                <i class="fal fa-file-chart-line fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Content Marketing</h3>
                                <p class="mb-0">Synergistically pursue accurate initiatives without economically sound
                                    imperatives. Professionally architect unique.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Content Creation</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Copyright Checker</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>SEO Friendly Content</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-dark mb-32">
                                <i class="fal fa-sync-alt fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Search Engine Optimization</h3>
                                <p class="mb-0">Synergistically pursue accurate initiatives without economically sound
                                    imperatives. Professionally architect unique.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Keyword Research</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Title Optimize</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Link Building Strategy</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-success mb-32">
                                <i class="fal fa-spell-check fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Compare A/B Testing</h3>
                                <p class="mb-0">Synergistically pursue accurate initiatives without economically sound
                                    imperatives. Professionally architect unique.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Ads A/B Testing</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>CR Optimization</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Content Optimization</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-primary mb-32">
                                <i class="fal fa-chart-pie fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Advanced Analytics</h3>
                                <p class="mb-0">Synergistically pursue accurate initiatives without economically sound
                                    imperatives. Professionally architect unique.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Goals, Targets Setup</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Users Analytics</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Optimization Content</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-warning mb-32">
                                <i class="fal fa-filter fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Funnel Optimization</h3>
                                <p class="mb-0">Synergistically pursue accurate initiatives without economically sound
                                    imperatives. Professionally architect unique.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>CR Optimization</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Website Testing</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Content Analytics</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-warning mb-32">
                                <i class="fal fa-filter fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Funnel Optimization</h3>
                                <p class="mb-0">Synergistically pursue accurate initiatives without economically sound
                                    imperatives. Professionally architect unique.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>CR Optimization</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Website Testing</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Content Analytics</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-warning mb-32">
                                <i class="fal fa-filter fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Funnel Optimization</h3>
                                <p class="mb-0">Synergistically pursue accurate initiatives without economically sound
                                    imperatives. Professionally architect unique.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>CR Optimization</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Website Testing</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Content Analytics</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-warning mb-32">
                                <i class="fal fa-filter fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Funnel Optimization</h3>
                                <p class="mb-0">Synergistically pursue accurate initiatives without economically sound
                                    imperatives. Professionally architect unique.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>CR Optimization</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Website Testing</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Content Analytics</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-warning mb-32">
                                <i class="fal fa-filter fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Funnel Optimization</h3>
                                <p class="mb-0">Synergistically pursue accurate initiatives without economically sound
                                    imperatives. Professionally architect unique.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>CR Optimization</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Website Testing</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Content Analytics</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                        <div class="feature-card border-line-style px-5 my-4">
                            <div class="feature-icon rounded bg-warning mb-32">
                                <i class="fal fa-filter fa-2x text-white"></i>
                            </div>
                            <div class="feature-content">
                                <h3 class="h5">Funnel Optimization</h3>
                                <p class="mb-0">Synergistically pursue accurate initiatives without economically sound
                                    imperatives. Professionally architect unique.</p>
                                <h6 class="mt-4">Included with...</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>CR Optimization</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Website Testing</li>
                                    <li class="py-1"><i class="fad fa-check-circle me-2 text-primary"></i>Content Analytics</li>
                                </ul>
                            </div>
                            <span class="border-line"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>