<section class="mk-about-section bg-white pt-60 pb-20">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-8">
                <div class="mk-title text-center">
                    <span class="fw-bold mk-subtitle">Why Choose Us</span>
                    <h2 class="mt-3">Trusted Platform for Indian tax payers</h2>
                </div>
            </div>
        </div>
        <div class="mt-5 position-relative mk-sf-bottom">
            <div class="row justify-content-center g-4">
                <div class="col-xl-4 col-lg-6">
                    <div class="mk-sf-item bg-white">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded">
                          <img src="<?=HTTP_HOST_WEBROOT?>/img/icons/mk-1.svg" alt="icon" class="img-fluid">
                      </span>
                        <h4 class="mk-heading mb-3 mt-4">Expertise and Relevance</h4>
                        <p class="mb-0">Our team consists of tax professionals and experts who possess extensive knowledge and experience in GST and taxation. We understand the challenges and issues faced by association organizations in the industry. Our content is tailored to address the needs and concerns of association members, providing them with relevant information and insights .</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6" >
                    <div class="mk-sf-item bg-white">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded warning-bg">
                          <img src="<?=HTTP_HOST_WEBROOT?>/img/icons/mk-2.svg" alt="icon" class="img-fluid">
                      </span>
                        <h4 class="mk-heading mb-3 mt-4">Advocacy and Policy Initiatives</h4>
                        <p class="mb-0"> GST and taxation association organizations often play a critical role in advocating for the interests of their members and shaping tax policies. Our content can support these efforts by providing insights, analysis, and research that can inform policy discussions and advocacy campaigns.  </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="mk-sf-item bg-white">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded mk-primary">
                          <img src="<?=HTTP_HOST_WEBROOT?>/img/icons/mk-3.svg" alt="icon" class="img-fluid">
                      </span>
                        <h4 class="mk-heading mb-3 mt-4">Customer Support</h4>
                        <p class="mb-0" > We value our users and strive to provide excellent customer support. If you have any questions, feedback, or need assistance with any tax-related matter, our dedicated support team is readily available to help you. We aim to provide a personalized and responsive customer service experience.</p>
                    </div>
                </div>
            </div>
            <!-- <img src="<?=HTTP_HOST_WEBROOT?>/img/shape/mk-wave.png" alt="wave" class="position-absolute mk-wave"> -->
        </div>
    </div>
</section>