<section class="mk-about-section bg-white pt-60 pb-60" id="whyus">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-7 col-md-8">
                <div class="mk-title text-center">
                    <span class="fw-bold mk-subtitle text-bg-warning p-3">Why We</span>
                    <h2 class="mt-3" style="color: #0b163f;">Trusted Platform for Tax payers</h2>
                </div>
            </div>
        </div>
        <div class="mt-5 position-relative mk-sf-bottom pb-40">
            <div class="row justify-content-center g-4">
                <div class="col-xl-4 col-lg-6">
                    <div class="mk-sf-item bg-white">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded">
                          <img src="<?=HTTP_HOST_WEBROOT?>/img/icons/mk-1.svg" alt="icon" class="img-fluid" width="40px">
                      </span>
                        <h4 class="mk-heading mb-3 mt-4">Expertise and Relevance</h4>
                        <p class="mb-0">Our team consists of tax professionals and experts who possess extensive knowledge and experience in GST and taxation. We understand the challenges and issues faced by association organizations in the industry. Our content is tailored to address the needs and concerns of association members, providing them with relevant information and insights .</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6" >
                    <div class="mk-sf-item bg-white">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded warning-bg">
                          <img src="<?=HTTP_HOST_WEBROOT?>/img/icons/mk-2.svg" alt="icon" class="img-fluid" width="40px">
                      </span>
                        <h4 class="mk-heading mb-3 mt-4">Advocacy and Policy Initiatives</h4>
                        <p class="mb-0"> GST and taxation association organizations often play a critical role in advocating for the interests of their members and shaping tax policies. Our content can support these efforts by providing insights, analysis, and research that can inform policy discussions and advocacy campaigns.  </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="mk-sf-item bg-white">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded mk-primary">
                          <img src="<?=HTTP_HOST_WEBROOT?>/img/icons/mk-3.svg" alt="icon" class="img-fluid" width="40px">
                      </span>
                        <h4 class="mk-heading mb-3 mt-4">Customer Support</h4>
                        <p class="mb-0" > We value our users and strive to provide excellent customer support. If you have any questions, feedback, or need assistance with any tax-related matter, our dedicated support team is readily available to help you. We aim to provide a personalized and responsive customer service experience.User get GST effortlessly, with our support and guidance.</p>
                    </div>
                </div>
            </div>
            <!-- <img src="<?=HTTP_HOST_WEBROOT?>/img/shape/mk-wave.webp" alt="wave" class="position-absolute mk-wave"> -->
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-7 col-md-8">
                <div class="mk-title text-center">
                    <span class="fw-bold mk-subtitle text-bg-warning">Our achievement</span>
                </div>
            </div>
        </div>
        <div class="row pt-lg-5 pt-1">
            <div class="col-lg-4 mt-4">
                <div class="position-relative d-flex flex-column h-100 flex-wrap bg-danger-soft p-5 rounded-custom">
                    <div class="cta-left-info mb-2">
                        <h5>ISO certification</h5>
                        <p>Our company is certifies ISO 9001:2015 as a quality management system. We provide to our customer a quality services and crafts his financial requirements.</p>
                    </div>
                    <!-- <div class="mt-auto">
                        <a href="request-demo.html" class="btn btn-outline-primary btn-sm">Start For Free</a>
                    </div> -->
                    <div class="cta-img position-absolute right-0 bottom-0">
                        <img src="<?=HTTP_HOST_WEBROOT?>/img/AwardThree.webp" alt="cta img" class="img-fluid" id="imgawardthree">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="position-relative d-flex flex-column h-100 flex-wrap bg-primary-soft p-5 rounded-custom">
                    <div class="cta-left-info mb-2">
                        <h5>MSME Registred Firm</h5>
                        <p>We are Ministry of Micro, Small & Medium Enterprises. registred firm. </p>
                    </div>
                    <!-- <div class="mt-auto">
                        <a href="request-demo.html" class="btn btn-outline-primary btn-sm">Start For Free</a>
                    </div> -->
                    <div class="cta-img position-absolute right-0 bottom-0">
                        <img src="<?=HTTP_HOST_WEBROOT?>/img/AwardThree.webp" alt="cta img" class="img-fluid" id="imgawardthree">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="position-relative d-flex flex-column h-100 flex-wrap bg-danger-soft p-5 rounded-custom">
                    <div class="cta-left-info mb-2">
                        <h5>GST & Income TAX certified.</h5>
                        <p>Our company is GST & Income TAX certified.</p>
                    </div>
                    <!-- <div class="mt-auto">
                        <a href="request-demo.html" class="btn btn-outline-primary btn-sm">Start For Free</a>
                    </div> -->
                    <div class="cta-img position-absolute right-0 bottom-0">
                        <img src="<?=HTTP_HOST_WEBROOT?>/img/AwardThree.webp" alt="cta img" class="img-fluid" id="imgawardthree">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
