<section class="mk-about-section bg-white pt-60 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-8">
                <div class="mk-title text-center">
                    <span class="fw-bold mk-subtitle">Why Choose Us</span>
                    <h2 class="mt-3">Make Business Decisions that help you Grow</h2>
                </div>
            </div>
        </div>
        <div class="mt-5 position-relative mk-sf-bottom">
            <div class="row justify-content-center g-4">
                <div class="col-xl-4 col-lg-6">
                    <div class="mk-sf-item bg-white">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded">
                          <img src="<?=HTTP_HOST_WEBROOT?>/img/icons/mk-1.svg" alt="icon" class="img-fluid">
                      </span>
                        <h4 class="mk-heading mb-3 mt-4">Secure Integration</h4>
                        <p class="mb-0">Quickly fabricate customer directed synergy for client-centric users. Globally repurpose granular users without highly efficient solutions. </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="mk-sf-item bg-white">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded warning-bg">
                          <img src="<?=HTTP_HOST_WEBROOT?>/img/icons/mk-2.svg" alt="icon" class="img-fluid">
                      </span>
                        <h4 class="mk-heading mb-3 mt-4">Data Security</h4>
                        <p class="mb-0">Quickly fabricate customer directed synergy for client-centric users. Globally repurpose granular users without highly efficient solutions. </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="mk-sf-item bg-white">
                        <span class="icon-wrapper d-inline-flex align-items-center justify-content-center rounded mk-primary">
                          <img src="<?=HTTP_HOST_WEBROOT?>/img/icons/mk-3.svg" alt="icon" class="img-fluid">
                      </span>
                        <h4 class="mk-heading mb-3 mt-4">No Extra Cost</h4>
                        <p class="mb-0">Quickly fabricate customer directed synergy for client-centric users. Globally repurpose granular users without highly efficient solutions. </p>
                    </div>
                </div>
            </div>
            <img src="<?=HTTP_HOST_WEBROOT?>/img/shape/mk-wave.png" alt="wave" class="position-absolute mk-wave">
        </div>
    </div>
</section>