<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [PT,L]
    RewriteCond %{HTTP_HOST}swapnilshahassociates\.in [NC]
    RewriteCond %{SERVER_PORT} 80
    RewriteRule ^(.*)$ http://swapnilshahassociates.in/$1 [R,L]
</IfModule>